.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: black;
}

.App-body {
  color: black;
}

.username {
  color: black;
}

.room {
  color: black;
}

.room-button {
  background-color: rgb(218, 234, 252);
  color: black;
}
